# src/main/resources/application.yml
spring:
  application:
    name: fiadopay-backend

  datasource:
    url: jdbc:h2:mem:fiadopaydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

logging:
  level:
    com.fiadopay: DEBUG
    org.hibernate.SQL: DEBUG
